// used to define css grid gaps
$gap-small: 0.5rem;
$gap-normal: 1rem;
$gap-big: 1.5rem;

/*used to define margins and paddings*/
$whitespace-0: 0rem;
$whitespace-1: 0.3rem;
$whitespace-2: 0.8rem;
$whitespace-3: 1rem;
$whitespace-4: 1.3rem;
$whitespace-5: 1.8rem;
$whitespace-6: 2rem;
