/*font size*/
$xs-size: 0.75rem;
$xs-lineHeight: 1rem;
$sm-size: 0.875rem;
$sm-lineHeight: 1.25rem;
$base-size: 1rem;
$base-lineHeight: 1.5rem;
$lg-size: 1.125rem;
$lg-lineHeight: 1.75rem;
$xl-size: 1.25rem;
$xl-lineHeight: 1.75rem;
$twoXl-size: 1.5rem;
$twoXl-lineHeight: 2rem;
$threeXl-size: 1.875rem;
$threeXl-lineHeight: 2.25rem;
$fourXl-size: 2.25rem;
$fourXl-lineHeight: 2.5rem;
$fiveXl-size: 3rem;
$fiveXl-lineHeight: 1;
$sixXl-size: 3.75rem;
$sixXl-lineHeight: 1;
$sevenXl-size: 4.5rem;
$sevenXl-lineHeight: 1;
$eightXl-size: 6rem;
$eightXl-lineHeight: 1;
$nineXl-size: 8rem;
$nineXl-lineHeight: 1;

/*font weight*/
$font-thin: 100;
$font-extralight: 200;
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;
$font-black: 900;

/*font spacing*/
$tracking-tighter: -0.05em;
$tracking-tight: -0.025em;
$tracking-normal: 0em;
$tracking-wide: 0.025em;
$tracking-wider: 0.05em;
$tracking-widest: 0.1em;
