.text-color-primary {
  color: var(--color-primary);
}

.text-color-accent {
  color: var(--color-accent);
}

.text-color-success {
  color: var(--color-success);
}

.text-color-warning {
  color: var(--color-warning);
}

.text-color-info {
  color: var(--color-info);
}

.text-color-error {
  color: var(--color-error);
}

.text-color-text {
  color: var(--color-text);
}

.text-color-disabled {
  color: var(--color-disabled);
}

.text-color-placeholder {
  color: var(--color-placeholder)
}

.bg-color-primary {
  background-color: var(--color-primary);
}

.bg-color-accent {
  background-color: var(--color-accent);
}

.bg-color-background {
  background-color: var(--color-background);
}

.bg-color-surface {
  background-color: var(--color-surface);
}

.bg-color-success {
  background-color: var(--color-success);
}

.bg-color-warning {
  background-color: var(--color-warning);
}

.bg-color-info {
  background-color: var(--color-info);
}

.bg-color-error {
  background-color: var(--color-error);
}

.bg-color-text {
  background-color: var(--color-text);
}

.bg-color-disabled {
  background-color: var(--color-disabled);
}

.bg-color-placeholder {
  background-color: var(--color-placeholder)
}

.border-color-primary {
  border-color: var(--color-primary);
}

.border-color-accent {
  border-color: var(--color-accent);
}

.border-color-background {
  border-color: var(--color-background);
}

.border-color-surface {
  border-color: var(--color-surface);
}

.border-color-success {
  border-color: var(--color-success);
}

.border-color-warning {
  border-color: var(--color-warning);
}

.border-color-info {
  border-color: var(--color-info);
}

.border-color-error {
  border-color: var(--color-error);
}

.border-color-text {
  border-color: var(--color-text);
}

.border-color-disabled {
  border-color: var(--color-disabled);
}

.border-color-placeholder {
  border-color: var(--color-placeholder)
}