:root {
  --color-primary: #003459;
  --color-accent: #00a8e8;
  --color-background: #ffffff;
  --color-surface: #dde6ef;
  --color-success: #00e19c;
  --color-warning: #ffa52e;
  --color-info: #007ea7;
  --color-error: #ff2c6f;
  --color-text: #00171f;
  --color-disabled: #929292;
  --color-placeholder: #929292;
  --color-border: #bebebe;
  --color-notification: #ff2c6f;
}
